




.main-header {
  background-color: #ffffff;
  position: sticky !important;
  top: 0;
  z-index: 1020;
  height: 80px;
  /* -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 82, 204, 0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 82, 204, 0.3);
  box-shadow: 0px 1px 0px 0px rgba(0, 82, 204, 0.3); */
}

.main-header .indexx-icon {
  height: 128px;
  width: 128px;
}

.main-header .navbar-brand {
  color: #1950d5 !important;
  font-weight: 600;
}

.main-header a.nav-link {
  margin: 0 6px;
  color: #2b2b2b;
  padding: 4px 8px;
  transition: ease-in-out 0.5s;
}

.main-header a.nav-link:focus,
.main-header a.nav-link:hover {
  background: rgba(0, 82, 204, 0.1);
  border-radius: 5px;
  color: #1950d5;
}

.welcome-title {
    color: #1950d5;
    text-align: center;
    margin-top: 40px;
}

.welcome-description {
    color: #808080 !important;
    text-align: center;
    margin-top: 10px !important;
}

.welcome-icon {
    width: 300px;
    height: 300px;
}

/* Card Start */
.instructions {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #808080 !important;
}

.instructions span {
  font-weight: 600;
  color: #1950d5;
  font-size: 2.5rem;
  margin-right: 8px;
}

.instructions span:last-child {
  margin-right: 0px;
  margin-left: 8px;
}

.instruction-card {
  display: flex;
  margin-top: 20px;
  border: 1px solid #6ce0ff !important;
  flex-direction: row;
  height: 85px;
  padding: 4px;
  /* border-bottom: 3px solid rgba(0, 82, 204, 1) !important; */
}

.instruction-card-number {
    width: 35px;
    color: #808080 !important;
    font-size: 32px;
}

.instruction-card-details {
    display: flex;
    align-items: center;
    color: #808080 !important;
}

/* .card-title div{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background:rgba(0, 82, 204, 0.1);
    border-bottom: 1px solid rgba(0, 82, 204, 1);
    display: grid;
    color: rgba(0, 82, 204, 1);
    place-items: center;
} */

.card-text {
  color: #2b2b2b;
}

/* Card end */


.curculating{
    display: grid;
    place-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.curculating h2{
    margin-bottom: 0;
}

.curculating .supply {
    color: #808080 !important;
}

.curculating .price {
    color: #1950d5 !important;
}

.curculating h2 span{
    font-weight: 600;
}

.price-info{
    text-align: center;
    color: #808080;
    font-weight: 400;
}

.price-title {
    font-weight: 400;
}

.amountPrice {
    font-weight: 400;
}

.supply-card {
    border: 0px solid #0052CC;   
}

.non-active-supply-card {
    border: 1px solid #6ce0ff;
}

.active-supply-card {
    border: 1px solid #1950d5;
}

.price-info h2 {
    color: #808080;
    margin-bottom: 0px !important;
}

.price-info h3 {
    color: #808080;
}

.price-info .discount {
    font-size: 18px;
    font-weight: 400;
}
.price-info .active {
    color: #1950d5;
}
.unitPrice {
    font-weight: 400;
}

.progressBar {
    height: 8px;
}

.progress-bar{
    background-color: #1950d5
}

.percentage {
    text-align: right;
    margin-bottom: 0px !important;
    color: #808080;
}

.walletBtn-connect {
    background-color: #1950d5;
    color: #ffffff;
    font-size: larger;
    width: 240px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 4px;
    cursor: pointer;
}

.buy-now-btn {
    background-color: #1950d5;
    color: #ffffff;
    width: 180px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}

.progress-bar {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-control{
    color: #0052CC;
    height: 32px;
    border-radius: 50px;
    margin-left: 10px;
    border: 1px solid #6ce0ff;
    text-align: right;
}

.form-control:focus {
    color: #0052CC;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

.guide-lines {
    font-size: 10px;
    color: #808080;
    width: 20%;
    margin: auto;
}

.customCard {
    background: #0052CC;
}

.card-header-color {
    text-align: center;
    font-weight: 400;
}

.card-header-inactive {
    color: #808080;
}

.card-header-active {
    color: #ffffff;
}

.Toastify__progress-bar--success {
    background: #0000FF !important;
}
